/******* 
mystyle
*/

/*******
변수 variables
*******/
@import url(/myfolder/css/ub-variables.css);

/*******
그리드 시스템
*******/
@import url(/myfolder/css/ub-grid-system.css);

.ec-base-product .prdList{
  display: flex; 
  flex-wrap: wrap;
  box-sizing: border-box;
  /* border: 1px solid #f00; */
}
 .main_product_slide .ec-base-product .prdList{
  flex-wrap: nowrap;
 }
.ec-base-product .prdList >li{
  flex: none;
  margin: 0 0 70px 0;
}

.ec-base-product .prdList .prdList__item{
  margin: 0 10px;
}

.ec-base-product .prdList .prdList__item .thumbnail{}

.ec-base-product .prdList .prdList__item .thumbnail .prdIcon.ec-product-bgRT{
  background-position: calc(100% - 10px) calc(0% + 10px);
}

.ec-base-product .prdList .prdList__item .thumbnail .icon__box{
  top: auto;
  bottom: 10px;
  opacity: 0;
  /* position: absolute;
  top: 50%; transform: translateY(-50%);
  left: 0; right: 0; */
  display: flex;
  font-display: row;
  justify-content: center;
}
.ec-base-product .prdList>li:hover .prdList__item .thumbnail .icon__box{
  opacity: 1;
  transition: opacity 0.5s;
}
.ec-base-product .prdList .prdList__item .icon__box > span {
    font-size: 0;
    color: transparent;
    display: block;
    position: relative;
    font-size: 11px;
    font-weight: 500;
    color: #000;
    background-color: transparent;
    border: 1px solid #999;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0 3px;
    min-width: 72px;
    height: 40px;
    padding: 10px 15px;
    line-height: 1;
    background-color: rgba(255, 255, 255, 0.7); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3FFFFFF,endColorstr=#B3FFFFFF);
}
.ec-base-product .prdList .prdList__item .icon__box > span:hover, 
.ec-base-product .prdList .prdList__item .icon__box > span.on {
    /* background-color: #000; */
    background-color: #000;
    border: 1px solid #000;
    /* color: #fff; */
    color: currentColor;
    /* color: transparent; */
}
.ec-base-product .prdList .prdList__item .icon__box > span img {
    position: absolute;
    width: auto;
    max-width: none;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}
/* 
card-border */
.ec-base-product .prdList.card-border{}
.ec-base-product .prdList.card-border>li{
  box-sizing: border-box;
  gap: 10px;
}
.ec-base-product .prdList.card-border .prdList__item{
  margin: 0 10px;
  border: 1px solid currentColor;
}

.ec-base-product .prdList.card-border .prdList__item .description{
  min-height: 130px;
  box-sizing: border-box;
  padding: 0 16px;
}
card-border-no-margin
*/
.ec-base-product .prdList{
  --border: 1px solid currentColor;
}
.ec-base-product .prdList.card-border-no-margin{ 
  border-top:var(--border);
}
.ec-base-product .prdList.card-border-no-margin>li{ 
  margin:0;
}
.ec-base-product .prdList.card-border-no-margin .prdList__item{
  margin: 0 0px;
  border-left:var(--border);;
  border-bottom:var(--border);;
}

/* 
grid2  :nth-child(2n)
grid3  :nth-child(3n)
grid4 :nth-child(4n)
grid5  :nth-child(5n)
*/
.ec-base-product .prdList.card-border-no-margin>li:nth-child(4n) .prdList__item,
.ec-base-product .prdList.card-border-no-margin>li:last-child .prdList__item{
  border-right: var(--border);
}

.ec-base-product  .prdList.card-border-no-margin .prdList__item .description{
  min-height: 100px;
  box-sizing: border-box;
  padding: 0 16px;
}

/* .section{border: 1px solid #f00;} */
.content-test{
  /* border: 1px solid #00f; */
  min-height: 200px;
  background-color: #ccc;
}

.section{
  
}

#contents > .section_full_content_center{
  background-color: var(--section-bg);
  width: 100%;
  max-width: none;
  padding-top: var(--section-padding-top-bottom);
  padding-bottom: var(--section-padding-top-bottom);
}
#contents > .section_full_content_center .main_3dan_banner .main_banner_txt{
  margin-top: 0;
  padding:16px;
  background-color: #fff;
  padding: var(--section-main-banner-padding);
  box-sizing: border-box;
}

@media (min-width: 1024px) {
    #contents > .section_full_content_center > div{
        max-width: 1230px;
        width: 92%;
        margin-left: auto;
        margin-right: auto;
    }
}

#contents > .section_full_only_content{
  background-color: var(--section-bg);
  width: 100%;
  max-width: none;
  padding-top: var(--section-padding-top-bottom);
  padding-bottom: var(--section-padding-top-bottom);
}



@media (min-width: 1024px) {
    #contents > .section_full_only_content > .main_title{
        max-width: 1230px;
        width: 92%;
        margin-left: auto;
        margin-right: auto;
    }
}


/*********
visual-swiper
hero section용
*/
.visual-section{
  --visual-swiper-width:100%;
  margin-bottom: 120px;
}
/* @media (min-width: 1024px) {
    #contents.ub-style .visual-section  {
        max-width: none;
        width: 100%;
    }
} */
 /* html에서 #contents class="ub-style" */
@media (max-width: 1024px) {
   #container #contents.ub-style  {
        max-width: none;
        width: 100%;
    }
}
.visual-section .visual_swiper{
  width: var(--visual-swiper-width);
}
.visual-section .swiper .swiper-slide{}
.visual-section .swiper-slide picture{
  display: block;
}
.visual-section .swiper-slide picture source,
.visual-section .swiper-slide picture img{
  display: block;
  width: 100%;
  height: auto;
  max-width: none;
}

/* 
ub-swiper
1. navigation 이미지 변경
2. pagination 색상변경
 */
 .ub-swiper .swiper-button-prev,
 .ub-swiper .swiper-button-next{
  width:60px; height: 60px;
  background-size: contain;
 }
.ub-swiper .swiper-button-prev{
    background-image: url(/myfolder/images/arrow_back.svg);
   background-position: center;
    left: 20px;
    right: auto;
}
.ub-swiper  .swiper-button-next {
    background-image: url(/myfolder/images/arrow_forward.svg);
    background-position: center;
    left: auto;
    right: 20px;
}
.ub-swiper .swiper-pagination{
  left:0;
  bottom:1rem;
  width: 100%;
}
.ub-swiper .swiper-pagination-bullet{
  vertical-align: middle;
  margin-right:10px;
}
.ub-swiper .swiper-pagination-bullet-active {
    opacity: 1;
    background: transparent;
    border:4px solid var(--primary-color);
}

/*******
swiper controls가 슬라이드 아래 표시
 */
.ub-swiper.ub-swiper-controls-bottom{
  width:80%;
  margin:0 auto;
}
.ub-swiper.ub-swiper-controls-bottom .swiper-wrapper{
  /*하단에 정렬*/
  /* align-items: end;   */

  /* 슬라이드 .swiper-wrapper 기준 세로 가운데 */
  align-items: center;  
  gap: 20px;

}
.ub-swiper.ub-swiper-controls-bottom .swiper-slide{
  width:100% !important;
  transform: scale(1);
  /*슬라이드를 하단에 정렬할 때는 transform-origin*/
  /* transform-origin: center bottom;  */

   /*슬라이드를 가운데에 정렬할 때는 transform-origin*/
  transform-origin: center center; 
}
.ub-swiper.ub-swiper-controls-bottom .swiper-slide-active{
  transform: scale(1);
}
.ub-swiper.ub-swiper-controls-bottom .ub-swiper-controls{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:2rem;
  box-sizing: border-box;
  padding:0.5rem 0;
}

/* flex item */
.ub-swiper.ub-swiper-controls-bottom .ub-swiper-controls>div{
  position: static;
  box-sizing: border-box;
  
}
.ub-swiper.ub-swiper-controls-bottom .ub-swiper-controls .swiper-scrollbar{
  order:1;
  width: 100%;
  height: 4px;
}
.ub-swiper.ub-swiper-controls-bottom .swiper-pagination-fraction {
  order:2;
  width: auto;

  display: flex;
  gap:0.5rem;
  font-size: 1rem;
}
.ub-swiper.ub-swiper-controls-bottom .swiper-button-next,
.ub-swiper.ub-swiper-controls-bottom .swiper-button-prev{
  width:24px; height: 24px;
  margin-top:0;
}
.ub-swiper.ub-swiper-controls-bottom .swiper-button-prev{
  order:3;
  background-position:4px center;
  margin-left:30px;
 
}

.ub-swiper.ub-swiper-controls-bottom .swiper-button-next{
   order:5;
  /* margin-left: -1.2rem; */
}
  
  /* progressbar와 fraction을 함께 쓰는 방법 */

/* progressbar 스타일링 */
.ub-swiper.ub-swiper-controls-bottom .swiper-pagination-progressbar {
  width: 100%;
  max-width: 85%;
  height: 2px;
  background: rgba(0,0,0,0.1);
}

.ub-swiper.ub-swiper-controls-bottom .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--primary-color);
}

/* 별도로 현재 페이지 번호 표시 */
.ub-swiper.ub-swiper-controls-bottom .custom-fraction {
  order:4;
  font-size: 1rem;
  white-space: nowrap;
}

/* 자동 재생 토글 버튼 스타일링 */
.ub-swiper.ub-swiper-controls-bottom #btn-autoplay-toggle{
  order:6;
  width: auto;
  height: auto;
  background: transparent;
  border: none;
  cursor: pointer;
}
.ub-swiper.ub-swiper-controls-bottom #btn-autoplay-toggle .icon-play,
.ub-swiper.ub-swiper-controls-bottom #btn-autoplay-toggle .icon-pause{
  display: inline-block ;
  width: 24px; height: 24px;
  overflow: hidden;
  text-indent: -9999px;
  background: center/contain no-repeat;
}

.ub-swiper.ub-swiper-controls-bottom #btn-autoplay-toggle .icon-play{
  background-image: url(/myfolder/images/play_arrow.png);
}
.ub-swiper.ub-swiper-controls-bottom #btn-autoplay-toggle .icon-pause{
  background-image: url(/myfolder/images/pause.png);
}
.ub-swiper.ub-swiper-controls-bottom #btn-autoplay-toggle .icon-play.hidden,
.ub-swiper.ub-swiper-controls-bottom #btn-autoplay-toggle .icon-pause.hidden{
  display: none;
}

/**************
단처리
ub-dan
*/

.ub-dan{}
.ub-dan-row{}
.ub-dan-item{
  /* border: 1px solid #f00; */
}
/**************
단처리 태블릿 이하 스크롤
.ub-dan-row.md-scroll
*/
@media (max-width:1024px){
.ub-dan-row.md-scroll {
  /* scroll */
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow-x: auto;

  flex-direction: row;
  flex-wrap: nowrap;
  width:100% !important;
  justify-content: start;
}
.ub-dan-row.md-scroll .ub-dan-item{
  /* scroll */
   scroll-snap-align: center;
   width: 85%;
   max-width:50vw;

   /* 요소 크기가 늘지도 줄지 말고 지정된 width값을 따라라 */
   flex: none;
}
}
@media (max-width:480px){
  .ub-dan-row.md-scroll .ub-dan-item{
    max-width: 100%;
  }
}

.main_product_category{
  margin: 100px auto;
}
.main_product_category .main_product_tab{
  display: flex;
  margin: 0;
}
.main_product_category .main_product_tab li{
  margin: 0 var(--space-xs);
  padding: 0 var(--space-xs);
}
.main_product_category .main_product_tab li .button{
  position: relative;
  font-size: calc(13px + (18 - 13) * ((100vw - 370px) / (1760 - 370)));
  color: var(--ub-tab-button-default);
  line-height: 1.6; 
}
.main_product_category .main_product_tab li .button::after{
  content:"";
  position: absolute;
  bottom:0px;
  left:0;
  width: 100%;
  height: 2px;
  background-color: var(--ub-tab-button-default);
  transform: scale(0);
  transform-origin: right center;
  transition: transform 0.2s ease-in;
}
.main_product_category .main_product_tab li .button.active::after{
  transform: scale(100%);
  transform-origin: left center;
  transition: transform 0.3s ease-in;
}
/*
탭버튼 중앙정렬 .section.tab-center
*/
.section.tab-center .main_product_inner{
  margin-bottom: var(--space-md);
}
/* main _title */

.section.tab-center .main_title{
  text-align: center;
  margin-bottom: var(--space-xl);
}
.section.tab-center .main_title .main_title_txt01{
  font-size: calc(18px + (30 - 18) * ((100vw - 370px) / (1760 - 370)));
  font-weight: 700;
  line-height: 1;
  color: var(--ub-font-title-color);
}
.section.tab-center .main_title .main_title_txt02{
  font-size: calc(13px + (20 - 13) * ((100vw - 370px) / (1760 - 370)));
  font-weight: 700;
  line-height: 1;
  color: var(--ub-font-title-txt02-color);
  margin-top: 15px;
}

/* 탭메뉴 */
.section.tab-center .main_product_tab{
  display: flex;
  justify-content: center;
  width: 100%;
  /* border: 1px solid #f00; */
}
.section.tab-center .main_product_tab li{
  margin: 0 var(--space-xs);
  padding: 0 var(--space-xs);
  /* border: 1px solid #000;
  background-color: #efefef; */
}
.section.tab-center .main_product_tab li button{
  position: relative;
  font-size: calc(13px + (18 - 13) * ((100vw - 370px) / (1760 - 370)));
  color: var(--ub-tab-button-default);
  line-height: 1.6;
}
.section.tab-center .main_product_tab li button.active{
  color: var(--ub-tab-button-active);
}
.section.tab-center .main_product_tab li button.active::after{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--ub-tab-button-active);
}

/*
수평 탭버튼 section.tab-horizontal
main_title main_product_tab
*/
.section.tab-horizontal .main_product_inner{
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: var(--space-md);
}
.section.tab-horizontal .main_title{
  margin-bottom: 0;
  text-align: left;
  flex: 1 1 auto;
}
.section.tab-horizontal .main_title .main_title_txt01{
  font-size: calc(18px + (24 - 18) * ((100vw - 370px) / (1760 - 370)));
}
 .section.tab-horizontal .main_title .main_title_txt02{
  font-size: calc(13px + (16 - 13) * ((100vw - 370px) / (1760 - 370)));
}
.section.tab-horizontal .main_product_tab{
  justify-content: end; width: auto;
}
.section.tab-horizontal .main_product_tab li .button.active{
  color: var(--ub-tab-button-active);
}
.section.tab-horizontal .main_product_tab li .button.active::after{
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--ub-tab-button-active);
}

/* 
수직 탭버튼 .section.tab-vertical
*/
.section.tab-vertical {
  display: flex;
  /* flex-direction: row;
  justify-content: start; */
}
.section.tab-vertical .main_product_inner{
  /* flex: 0 1 auto; */
  width: 16%;
  margin-right: 2%;
}
.section.tab-vertical .main_title{
  margin-bottom: 0;
  text-align: left;
  flex: 1 1 auto;
  margin-bottom: var(--space-lg);
}
.section.tab-vertical .main_title .main_title_txt01{
  font-size: calc(18px + (24 - 18) * ((100vw - 370px) / (1760 - 370)));
  font-weight: 500;
  }
.section.tab-vertical .main_title .main_title_txt02{
  font-size: calc(13px + (16 - 13) * ((100vw - 370px) / (1760 - 370)));
}
.section.tab-vertical .main_product_tab{
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.section.tab-vertical .main_product_tab li{
  margin: 0;
  padding: var(--space-sm) var(--space-md);
  margin-bottom: var(--space-md);
  background-color: #efefef;
}
.section.tab-vertical .main_product_tab >li button.active{
  color:var(--ub-tab-button-active);
}
.section.tab-vertical .main_product_tab li button.active::after{
  content:"";
  position: absolute;
  bottom:0px;
  left:0;
  width: 100%;
  height: 2px;
  background-color: var(--ub-tab-button-active);
}

/* li에 배경을 넣는 다면 content:none
li에 배경을 넣지 않으면 content:none을 코멘트처리 */
.section.tab-vertical .main_product_tab >li button::after,
.section.tab-vertical .main_product_tab >li button.active::after{ 
  content: none;
}
.section.tab-vertical .content_list{
  width: 82%;
}

/*
탭콘텐츠
content_list
*/
.section.main_product_category .content_list .tabcontent{
  display: none;
}
.section.main_product_category .content_list .tabcontent.active{
  display: block;
}

/* 
탭메뉴 미디어쿼리
.section.tab-center
*/
@media(max-width:1024px){
.section.tab-center .main_product_inner{
  margin-bottom: var(--space-sm);
}
.section.tab-center .main_title{
  margin-bottom: var(--space-lg);
}
.section.tab-center .main_product_tab{
  overflow-x: auto;
}
}/*@media(max-width:1024px){*/

@media(max-width:767px){
.section.tab-center .main_product_tab{
  justify-content: start;
 }
}/*@media(max-width:1024px){*/


/* 
.section.tab-horizontal
*/
@media(max-width:1024px){
.section.tab-horizontal .main_product_inner{
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.section.tab-horizontal .main_title{
  margin-bottom: var(--space-lg);
}
.section.tab-horizontal .main_product_tab{
  justify-content: start; 
  margin-left: 0;
  overflow-x: auto;
  width: 100%;
}
.section.tab-horizontal .main_product_tab li:first-child{
  margin-left: 0;
  padding-left: 0;
}
}/*media (max-width:1024px){*/

@media(max-width:767px){
  .section.tab-horizontal .main_title{
  margin-bottom: var(--space-md);
}
}/*@media(max-width:767px{*/

/* 
.section.tab-vertical
*/
@media(max-width:1024px){
 .section.tab-vertical {
  flex-direction: column;
}
.section.tab-vertical .main_product_inner{
  width: auto;
  margin-right: 0;
}
.section.tab-vertical .main_product_tab{
  flex-direction: row;
  overflow-x: auto;
}
.section.tab-vertical .main_product_tab >li{
  margin-bottom: 0;
}
.section.tab-vertical .main_product_tab >li:first-child{
  margin-left: 0;
  padding-left: 0;
}
.section.tab-vertical .content_list{
  width: 100%;
}
}/*@media(max-width:1024px{*/

@media(max-width:767px){
  .section.tab-vertical .main_title{
  margin-bottom: var(--space-md);
}
}/*@media(max-width:767px{*/

/*************** 
배너매니저 동영상 스타일 
*/
 /* div.df-bannermanager 부모의 너비를 따르는 동영상 */
    .df-bannermanager
    /* 크기를 지정 */ 
    {width: 100%;}
    /* 동영상의 가로세로 비율을 지정 */
    .df-bannermanager div[df-banner-clone]{
      width: 100%;
      aspect-ratio: 16/9;
    }
    .df-bannermanager div[df-banner-clone] iframe{
      display: block; width: 100%; height: 100%;
    }
