/* --- 2차 카테고리 아이콘 (배경 이미지 방식) --- */

/********* 
네비게이션바 이미지 
*/
#header .inner .top_nav_box .top_category li.on .sub_cate01 {
  display: flex;
  box-sizing: border-box;
}

#header .inner .top_nav_box .top_category .sub_cate01 li {
  min-width: 100px;
  padding-top: 40px;
}

/* 네비게이션바 정렬 */

@media (min-width: 1024px) {
  #header.layout6 .inner .top_nav_box .top_category>ul {
    overflow: visible;
  }

  #header.layout6 .inner .top_nav_box .top_category>ul>li {
    position: relative;
  }

  #header .inner .top_nav_box .top_category li.on:nth-last-child(-n+3) .sub_cate01 {
    left: auto;
    right: 0;
    z-index: 1000;
  }
  #header .inner .top_nav_box .top_category li.on:nth-child(3) .sub_cate01 {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    margin: 0;
  }
 }

