/* ========================================
   1. CSS 변수 정의
======================================== */
:root {
  /* 색상 */
  --primary-color:#f5f5f5;
  --ub-font-base-color: #000;
  --ub-font-title-color:#000;
  --ub-font-title-txt02-color:#ccc;
  --ub-tab-button-default:#999;
  --ub-tab-button-active:#000;
  /* 간격 변수 */
  --space-xs: 8px;
  --space-sm: 10px;
  --space-md: 16px;
  --space-lg: 30px;
  --space-xl: 40px;
  --space-xxl: 120px;
  
  /* 레이아웃 변수 */
  --max-width: 1230px;
  --section-width: 92%;
  --dan-space: 15px;
  
  /* 반응형 breakpoint */
  --breakpoint-sm: 480px;
  --breakpoint-md: 767px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1300px;
  --breakpoint-xxl: 1533px;

  /* section관련 변수 선언 */
  --section-bg: #f5f5f5;
  --section-padding-top-bottom:40px;
  --section-main-banner-padding:16px;
}

  

