<div class="main_top_banner ez-align-center" data-ez-module="top-banner" data-ez-align="center" data-ez-role="style.color" data-ez-display="visible" style data-ez="contents-1gz9xy9-1">
	<div class="top_banner_box_inner">
		<div class="top_banner_text"><!-- 최상단 배너 수정하는곳 -->
			<a data-ez-role="a" href="#" data-href="#" target="_self" style="color: rgb(255, 255, 255); font-weight: normal;">첫 쇼핑을 지원하는 3,000원 할인 회원가입 쿠폰</a>
		</div><!-- //top_banner_text -->

		<div class="top_banner_close" data-ez-role="close">
			<input type="checkbox" name="chkbox" id="top_banner_box_cloase" value="1" data-ez-role="disable-term"><label for="top_banner_box_cloase" data-ez-role="disable-text">오늘 하루 보지 않기</label>
			<i aria-hidden="true" class="icon icoClose white">닫기</i>
		</div><!-- //top_banner_close -->
	</div><!-- //top_banner_box_inner -->
</div>
<header id="header" class="layout1" data-ez-layout="layout1" style="margin-bottom: 0px;" data-ez="contents-0lsbl71-1">
	<ez-prop data-version="1.0.0" type="layout">
		<ez-var data-prop="layout" data-namespace="ez.layout.header.layout" data-type="array">
			<ez-item data-id="layout3" data-name="1단 기본형"></ez-item>
			<ez-item data-id="layout2" data-name="2단 좌측형"></ez-item>
			<ez-item data-id="layout1" data-name="2단 중앙형"></ez-item>
			<ez-item data-id="layout4" data-name="2단 슬라이딩 메뉴 노출형"></ez-item>
  	    </ez-var>
	</ez-prop>
	<div class="inner">
		<div class="toparea display_pc_only">
			<div class="toparea_shoppinginfo">
				<div module="Layout_multishopList">
					<button type="button" class="toggle">{$current_language} <i aria-hidden="true" class="icon icoArrowRight"></i></button>
					<ul module="Layout_multishopListitem">
						<li class="{$selected_class}">
							<a href="//{$shop_domain}/">{$locale_language}</a>
						</li>
						<li class="{$selected_class}">
							<a href="//{$shop_domain}/">{$locale_language}</a>
						</li>
					</ul>
				</div><!-- //Layout_multishopList -->
                <div data-ez-group="shopping-info" data-ez-role="list">
					<ul module="Layout_shoppingInfo">
						<li class="{$use_mileage|display}"><a href="/myshop/mileage/historyList.html">{$mileage_name} <strong>{$mileage}</strong></a></li>
						<li class="{$use_deposit|display}"><a href="/myshop/deposits/historyList.html">{$deposit_name} <strong>{$deposit}</strong></a></li>
						<li class="{$use_coupon_cnt|display}"><a href="/myshop/coupon/coupon.html">쿠폰 <strong>{$coupon_cnt}</strong></a></li>
						<li class="{$use_interest_prd|display}"><a href="/myshop/wish_list.html">관심상품 <strong>{$interest_prd_cnt}</strong></a></li>
						<li class="{$use_like_product_cnt|display}">{$like_prd_tag}</li>
						<li class="{$use_basket_cnt|display}"><a href="/order/basket.html">장바구니 <strong>{$basket_cnt}<span class="{$use_basket_price|display}">({$basket_price})</span></strong></a></li>
					</ul>
                </div>
			</div><!-- //toparea_shoppinginfo -->

			<div class="toparea_state" data-ez-group="top-util-menu" data-ez-role="list">
				<a data-ez-item="join" module="Layout_statelogoff" href="/member/agreement.html">회원가입</a>
				<a data-ez-item="login" module="Layout_statelogoff" href="/member/login.html">로그인</a>
				<a data-ez-item="modify" module="Layout_stateLogon" href="/member/modify.html">내정보수정</a>
				<a data-ez-item="logout" module="Layout_stateLogon" href="{$action_logout}">로그아웃</a>
				<a data-ez-item="order" href="/myshop/order/list.html">주문조회</a>
				<a data-ez-item="mypage" module="Layout_stateLogon" href="/myshop/index.html">마이페이지</a>
				<a data-ez-item="recent" href="/product/recent_view_product.html">최근본상품</a>
				<div class="toparea_state_board">
					<a data-ez-item="board" href="#none">고객센터<i aria-hidden="true" class="icon icoArrowBottom"></i></a>
					<ul module="Layout_BoardInfo">
						<li><a href="{$link_board_list}">{$board_name}</a></li>
						<li><a href="{$link_board_list}">{$board_name}</a></li>
					</ul>
				</div>
			</div><!-- //toparea_state -->
		</div><!-- //toparea -->

		<div class="top_nav_box" id="top_nav_box">
			<div class="top_logo" module="Layout_LogoTop"><a href="/"><img src="{$logo}" alt="{$mall_name}"></a></div><!-- //top_logo -->

			<div class="top_mypage">
				<div module="Layout_MobileAction" class="tablet_detail_only">
					<a href="#none" onclick="{$go_back}"><img src="/SkinImg/img/back.svg"></a>
				</div>
				<a href="/myshop/index.html"><!--@import(/svg/icon-user.html)--></a>
				<a href="/order/basket.html" module="Layout_orderBasketcount"><!--@import(/svg/icon-cart.html)--><span class="count {$basket_count_display|display} {$basket_count_display_class}"><span class="{$basket_count_class}">{$basket_count}</span></span></a>
				<a href="javascript:;" class="eSearch"><!--@import(/svg/icon-search.html)--></a>
				<a href="javascript:;" class="eNavFold"><i aria-hidden="true" class="icon icoNav"></i></a>
			</div><!-- //top_mypage -->

			<div data-ez-module="menu-main/1" data-ez-mode="manual">
        <div class="xans-element- xans-layout xans-layout-category top_category">
<ul><li><a href="/category/Best-Item/42/">Best Item</a><ul class="sub_cate01"><li><a href="/category/Item-1/46/">Item 1</a></li><li><a href="/category/Item-2/47/">Item 2</a></li></ul></li><li><a href="/category/New-Item/43/">New Item</a></li><li><a href="/category/Skincare/44/">Skincare</a></li><li><a href="/category/Organic-Oil/45/">Organic Oil</a></li><li><a href="/category/Hand-Cream/48/">Hand Cream</a></li></ul>
</div>
      </div><!-- //menu-main/1 -->
		</div><!-- //top_nav_box -->

		<div module="Layout_SearchHeader">
			<!--
				$product_page=/product/detail.html
				$category_page=/product/list.html
			-->
			<div class="top_search_title">SEARCH</div>
			<fieldset>
				<legend>검색</legend>
				<div class="top_search_box">
					{$form.keyword}<button type="button" class="btnDelete">삭제</button><button type="button" class="btnSearch" onclick="{$action_search_submit}"><!--@import(/svg/icon-search.html)--> 검색</button><ul class="autoDrop" id="{$search_auto_id}"></ul>
				</div><!-- //top_search_box -->
			</fieldset>
			<button type="button" class="btnClose"><i aria-hidden="true" class="icon icoClose"></i>닫기</button>
		</div><!-- //Layout_SearchHeader -->
	</div><!-- //inner -->
</header>
<!--#ez="1/2"-->