<div class="main_top_banner ez-align-left" data-ez-module="top-banner" data-ez-align="left" data-ez-role="style.color" data-ez-display="visible" data-ez="contents-0gc8wbt-1">
	<div class="top_banner_box_inner">
		<div class="top_banner_text"><!-- 최상단 배너 수정하는곳 -->
			<a data-ez-role="a" href="#" data-href="#" target="_self" style="color: black;">첫 쇼핑을 지원하는 3,000원 할인 회원가입 쿠폰</a>
		</div><!-- //top_banner_text -->

		<div class="top_banner_close" data-ez-role="close">
			<input type="checkbox" name="chkbox" id="top_banner_box_cloase" value="1" data-ez-role="disable-term"><label for="top_banner_box_cloase" data-ez-role="disable-text">오늘 하루 보지 않기</label>
			<i aria-hidden="true" class="icon icoClose">닫기</i>
		</div><!-- //top_banner_close -->
	</div><!-- //top_banner_box_inner -->
</div>
<header id="header" class="layout1" data-ez-layout="layout1" data-ez="contents-0jy6j5n-1">
	<ez-prop data-version="1.0.0" type="layout">
		<ez-var data-prop="layout" data-namespace="ez.layout.header.layout" data-type="array">
			<ez-item data-id="layout3" data-name="1단 기본형"></ez-item>
			<ez-item data-id="layout2" data-name="2단 좌측형"></ez-item>
			<ez-item data-id="layout4" data-name="2단 혼합형"></ez-item>
			<ez-item data-id="layout1" data-name="2단 중앙형 (아이콘 하단)"></ez-item>
			<ez-item data-id="layout5" data-name="2단 중앙형 (아이콘 상단)"></ez-item>
			<ez-item data-id="layout6" data-name="2단 슬라이딩 메뉴 노출형"></ez-item>
  	    </ez-var>
	</ez-prop>
	<div class="inner">
		<div class="toparea display_pc_only">
			<div class="toparea_shoppinginfo">
				<div module="Layout_multishopList">
					<button type="button" class="toggle">{$current_language} <i aria-hidden="true" class="icon icoArrowBottom"></i></button>
					<ul module="Layout_multishopListitem">
						<li class="{$selected_class}">
							<a href="//{$shop_domain}/">{$locale_language}</a>
						</li>
						<li class="{$selected_class}">
							<a href="//{$shop_domain}/">{$locale_language}</a>
						</li>
					</ul>
				</div>
                <div data-ez-group="shopping-info" data-ez-role="list">
				<ul module="Layout_shoppingInfo">
					<li class="{$use_mileage|display}"><a href="/myshop/mileage/historyList.html">{$mileage_name} <strong>{$mileage}</strong></a></li>
					<li class="{$use_deposit|display}"><a href="/myshop/deposits/historyList.html">{$deposit_name} <strong>{$deposit}</strong></a></li>
					<li class="{$use_coupon_cnt|display}"><a href="/myshop/coupon/coupon.html">쿠폰 <strong>{$coupon_cnt}</strong></a></li>
					<li class="{$use_interest_prd|display}"><a href="/myshop/wish_list.html">관심상품 <strong>{$interest_prd_cnt}</strong></a></li>
					<li class="{$use_like_product_cnt|display}">{$like_prd_tag}</li>
					<li class="{$use_basket_cnt|display}"><a href="/order/basket.html">장바구니 <strong>{$basket_cnt}<span class="{$use_basket_price|display}">({$basket_price})</span></strong></a></li>
				</ul>
                </div>
			</div><!-- //toparea_shoppinginfo -->

			<div class="toparea_state" data-ez-group="top-util-menu" data-ez-role="list">
				<a data-ez-item="join" module="Layout_statelogoff" href="/member/agreement.html">회원가입</a>
				<a data-ez-item="login" module="Layout_statelogoff" href="/member/login.html">로그인</a>
				<a data-ez-item="modify" module="Layout_stateLogon" href="/member/modify.html">내정보수정</a>
				<a data-ez-item="logout" module="Layout_stateLogon" href="{$action_logout}">로그아웃</a>
				<a data-ez-item="order" href="/myshop/order/list.html">주문조회</a>
				<a data-ez-item="mypage" module="Layout_stateLogon" href="/myshop/index.html">마이페이지</a>
				<a data-ez-item="recent" href="/product/recent_view_product.html">최근본상품</a>
				<div class="toparea_state_board">
					<a data-ez-item="board" href="#none">고객센터 <i aria-hidden="true" class="icon icoArrowBottom"></i></a>
					<ul module="Layout_BoardInfo">
						<li><a href="{$link_board_list}">{$board_name}</a></li>
						<li><a href="{$link_board_list}">{$board_name}</a></li>
					</ul>
				</div>
			</div><!-- //toparea_state -->
		</div><!-- //toparea -->

		<div class="top_nav_box" id="top_nav_box">
			<div class="top_logo" module="Layout_LogoTop"><a href="/"><img src="{$logo}" alt="{$mall_name}"></a></div><!-- //top_logo -->
			<div class="top_nav"><a href="javascript:;" class="eNavFold"><i aria-hidden="true" class="icon icoNav"></i></a></div>

			<!-- 올버튼 햄버거 메뉴 -->
		<div class="hamburger_button show-pc">
			<button id="btnHamburger" class="btn-hamburger" type="button" aria-controls="allmenu" aria-expanded="true"
				aria-label="전체메뉴 열기" data-role="hamburger">
				<span class="hamburger_line"></span>
				<span class="hamburger_line"></span>
				<span class="hamburger_line"></span>
			</button>
		</div>
		<!-- //올버튼 햄버거 메뉴-->


			<div data-ez-module="menu-main/1" data-ez-mode="manual">
				<div class="xans-element- xans-layout xans-layout-category top_category">
					<ul>
						<li><a href="/category/%EC%95%84%ED%81%AC%EB%A6%B4-%EC%82%AC%EC%A7%84/105/">아크릴 사진</a>
							<ul class="sub_cate01">
								<li><a href="/category/%EC%8A%A4%ED%83%A0%EB%93%9C%ED%98%95/111/">스탠드형</a></li>
								<li><a href="/category/%EB%B2%BD%EA%B1%B8%EC%9D%B4%ED%98%95/112/">벽걸이형</a></li>
							</ul>
						</li>
						<li><a href="/category/%EC%95%84%ED%81%AC%EB%A6%B4-%EB%AA%85%ED%8C%A8/106/">아크릴 명패</a>
							<ul class="sub_cate01">
								<li><a href="/category/%EC%95%84%ED%81%AC%EB%A6%B4-%EB%8B%A8%EB%A9%B4%ED%98%95/113/">아크릴 단면형</a></li>
								<li><a
										href="/category/%EC%95%84%ED%81%AC%EB%9E%84-%EB%8B%A8%EB%A9%B4%ED%98%95-%EC%A0%95%EC%82%AC%EA%B0%81/114/">아크랄
										단면형 정사각</a></li>
							</ul>
						</li>
						<li><a href="/category/%EC%95%84%ED%81%AC%EB%A6%B4-%EB%AA%85%EC%B0%B0/107/">아크릴 명찰</a>
							<ul class="sub_cate01">
								<li><a href="/category/%EA%B8%B0%EB%B3%B8%EB%AA%85%EC%B0%B0/115/">기본명찰</a></li>
								<li><a href="/category/%EC%A4%91%EB%AA%85%EC%B0%B0/116/">중명찰</a></li>
								<li><a href="/category/%ED%81%B0%EB%AA%85%EC%B0%B0/117/">큰명찰</a></li>
								<li><a href="/category/%EC%9B%90%ED%98%95%EB%AA%85%EC%B0%B0/118/">원형명찰</a></li>
								<li><a href="/category/%EB%AA%A9%EA%B1%B8%EC%9D%B4%EB%AA%85%EC%B0%B0/119/">목걸이명찰</a></li>
							</ul>
						</li>
						<li><a
								href="/category/%EC%82%B0%EC%97%85%EC%95%88%EC%A0%84%EA%B3%B5%EA%B3%B5%ED%91%9C%EC%A7%80%ED%8C%90/108/">산업안전/공공표지판</a>
						</li>
						<li><a href="/category/%EC%A3%BC%EB%AC%B8%EC%A0%9C%EC%9E%91-%EA%B5%BF%EC%A6%88/109/">주문제작 굿즈</a>
							<ul class="sub_cate01">
								<li><a href="/category/%EA%B7%B8%EB%A6%BD%ED%86%A1/121/">그립톡</a></li>
								<li><a href="/category/%ED%82%A4%EB%A7%81/122/">키링</a></li>
								<li><a href="/category/%ED%8C%90%EB%B0%95%EC%9D%B4-%EC%8A%A4%ED%8B%B0%EC%BB%A4/123/">판박이 스티커</a></li>
								<li><a href="/category/%EB%A7%88%EA%B7%B8%EB%84%B7/124/">마그넷</a></li>
							</ul>
						</li>
						<li><a href="/category/%EB%AA%85%ED%8C%90/110/">명판</a></li>
						<li><a href="/project/%ED%81%AC%EB%A6%AC%EC%8A%A4%EB%A7%88%EC%8A%A4/128/">기획전</a></li>
					</ul>
				</div>
			</div><!-- //menu-main/1 -->

			<div>
				<ul>
					<li><a href="">회사소개</a></li>
					<li><a href="">오시는 길</a></li>
				</ul>
			</div>

			<div class="top_mypage">
				<a href="javascript:;" class="eSearch"><!--@import(/svg/icon-search.html)--></a>
				<a href="/myshop/index.html"><!--@import(/svg/icon-user.html)--></a>
				<a href="/order/basket.html" module="Layout_orderBasketcount"><!--@import(/svg/icon-cart.html)--><span class="count {$basket_count_display|display} {$basket_count_display_class}"><span class="{$basket_count_class}">{$basket_count}</span></span></a>
			</div><!-- //top_mypage -->
		</div><!-- //top_nav_box -->

		<!-- 올메뉴 추가 -->
		<!--@import(/myfolder/allmenu.html)-->

	</div><!-- //inner -->
</header>
<!--#ez="1/18"-->