.main_product_category{
  margin: 100px auto;
}
.main_product_inner{}
/* main */

.main_title{
  text-align: center;
  margin-bottom: var(--space-xl);
}
.main_title .main_title_txt01{
  font-size: calc(18px + (24 - 18) * ((100vw - 370px) / (1760 - 370)));
  font-weight: 700;
  line-height: 1;
  color: var(--ub-font-title-color);
}
.main_title .main_title_txt02{
  font-size: calc(13px + (20 - 13) * ((100vw - 370px) / (1760 - 370)));
  font-weight: 700;
  line-height: 1;
  color: var(--ub-font-title-txt02-color);
  margin-top: 15px;
}

/* 탭메뉴 */
.main_product_category .main_product_tab{
  display: flex;
  justify-content: center;

  width: 100%;
  /* border: 1px solid #f00; */
}
.main_product_category .main_product_tab li{
  margin: 0 var(--space-sm);
  padding: 0 var(--spcae-xs);
  /* border: 1px solid #000;
  background-color: #efefef; */
}
.main_product_category .main_product_tab li button{
  position: relative;
  font-size: calc(13px + (18 - 13) * ((100vw - 370px) / (1760 - 370)));
  color: var(--ub-tab-button-default);
  line-height: 1.6;
}
.main_product_category .main_product_tab li button.active{
  color: var(--ub-tab-button-active);
}
.main_product_category .main_product_tab li button.active::after{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--ub-tab-button-active);
}
/*
수평 탭버튼 section.tab-horizontal
main_title main_product_tab
*/
.section.tab-horizontal .main_title{
  margin-bottom: 0;
  text-align: left;
  flex: 1 1 auto;
}
.section.tab-horizontal .main_title .main_title_txt01{
  font-size: calc(18px + (24 - 18) * ((100vw - 370px) / (1760 - 370)));
  font-weight: 700;

  
  line-height: 1;
  color: var(--ub-font-title-color);
}
.section.tab-horizontal .main_title .main_title_txt02{
  font-size: calc(13px + (18 - 13) * ((100vw - 370px) / (1760 - 370)));
  font-weight: 700;
  line-height: 1;
  color: var(--ub-font-title-txt02-color);
  margin-top: 15px;
}
.section.tab-horizontal .main_product_inner{
  display: flex;
  justify-content: space-between;
  align-items: end;
  /* border: 1px solid #00f; */
}
.section.tab-horizontal .main_product_inner .main_product_tab{
  justify-content: end;
  width: auto;
}
/*
탭콘텐츠
content_list
*/
.tabcontent{
  width: 100%;
  background-color: #ddd;
  min-height: 400px;
  border: 1px solid #aaa;
}