#footer{margin-top: 100px;} /*삭제*/

/* 푸터 css 연습 */
#footer{
  width: 100%;
  border-top: 1px solid #e5e5e5;
  background-color: #ccc; /*테스트 후 변경*/
}
#footer .inner{
  width: var(--section-width, 92%);
  max-width: var(--max-width, 1680px);
  margin: 0 auto;
  padding: 80px 0 88px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-content: start;
}

.bt_top{width: 100%;
  display: flex;
  justify-content: space-between;
}
@media(max-width:767px){
.bt_top{
  flex-direction: column;
}
}
.bt_top .info_left{}
.bt_top .info_left .bt_logo{
  margin-bottom: 30px;
  overflow: hidden;
}
.bt_top .info_left .bt_logo.bt_logo-image{
  text-indent: -9999px;
}
.bt_top .info_left .bt_logo a{
  display: flex;
  justify-content: start;
  align-items: center;
  line-height: 1;
}
.bt_top .info_left .bt_logo.bt_logo-text a{
  font-size: 30px;
  line-height: 1.6;
}
.bt_top .info_left .bt_logo.bt_logo-text img{
  display: none;
}
.bt_top .info_left .bt_logo.bt_logo-image img{
  /*로고를 회색톤으로 변경*/
  /* filter: grayscale(100%);  */
}

/* clamp()함수 clamp(최소, 선호값, 최대값) */
.bt_top .info_left .bt_logo a img{
  width: clamp(150px,10vw,200px)
}

/* 기본정보 */
.bt_top .info_left ul{}
.bt_top .info_left ul .bt_company{
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #333;
  line-height: 1.7;
  position: relative;
}
.bt_top .info_left ul .bt_company span[data-ez-role="title"]{}
#footer .bt_company .tablet_fold{
   display: flex;
   flex-wrap: wrap;
   max-width: 500px;
  }

@media(max-width:767px){
  #footer .bt_company .tablet_fold{
    display: block;
  }
}



.bt_top li.bt_company .bt_info_list{}
.bt_top li.bt_company .bt_info_list li{

}
/* bt_top 오른쪽 영역 */
.bt_top .bt_top_fold{
  display: flex;
}
.bt_top .bt_top_fold .tablet_fold strong{
  display: block;
}

@media(max-width:767px){
  .bt_top .bt_top_fold{
    flex-direction: column;
  }
}
.bt_middle{width: 100%;}
.bt_middle .bt_util{
  display: flex;
}





.bt_bottom{width: 100%;}

/* 
테블렛 모바일 일 때 아코디언 css
*/
@media (max-width: 1024px){
  .bt_top ul > li .icon[class*="icoPlus"] {
        display: block;
        width: 12px;
        height: 22px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        font-size: 0px;
        color: #333;
        position: relative;
    }

    .bt_top ul > li .icon[class*="icoPlus"]:before {
        content: '';
        position: absolute;
        left: 1px;
        top: 50%;
        width: 11px;
        height: 1px;
        background: #333;
    }

    .bt_top ul > li .icon[class*="icoPlus"]:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 1px;
        height: 11px;
        margin: -5px 0 0 0;
        background: #333;
    }

    .bt_top ul > li .icon[class*="icoPlus"].open:after {
        display: none;
    }
    /* 태블렛, 모바일에서 아코디언 버튼역할을 하는 요소
      카페24 스크립트랑 연결되는 요소 */

     .bt_top ul > li .bt_dummy {
        position: absolute;
        width: 100%;
        height: 24px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
    }
  }

/* 
breakpoint별 표시
*/
@media all and (max-width: 767px) {
    .RTB {
        display:none !important;
    }

    .RMB {
        display: block !important;
    }

    .RMI {
        display: inline-block !important;
    }

    .display_mobile_only {
        display: block !important;
    }

    .display_pc_only {
        display: none !important;
    }

   @media all and (min-width: 768px) and (max-width:1024px) {
    .RMB {
        display:none !important;
    }

    .RMI {
        display: none !important;
    }

    .RTB {
        display: block !important;
    }
}

@media all and (min-width: 1025px) {
    .RMB {
        display:none !important;
    }

    .RMI {
        display: none !important;
    }

    .RTB {
        display: none !important;
    }

    .RTMI {
        display: none !important;
    }

    .RTMB {
        display: none !important;
    }
}
}
